/* .multi-level-dropdown {
    position: relative;
  } */
  
/* .menu {
    list-style: none;
    padding: 0;
    margin: 0;
} */

.menu-item {
    position: relative;
    display: block;
    padding: 10px;
    cursor: pointer;
}

.sub-menu {
    position: absolute;
    display: none;
    list-style: none;
    padding: 0;
    margin: auto;
    top: 0;
    left: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
}

.sub-menu-item {
    padding: 10px;
    cursor: pointer;
}

.menu-item:hover .sub-menu {
    display: block;
}